<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" content="text/html">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GroupSite: The Groupiest</title>
        <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

       <!-- Optional theme -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
   </head>
   <body>
    <div class="container">
        <nav class="navbar navbar-inverse">

        {% if request.get_full_path != '/' %}
            <a href="{% url 'groupsite:index' %}" type="button" class="btn btn-default">Home</a>
        {% endif %}

        {% if user.is_authenticated %}

            {% if request.get_full_path == '/groups' %}
                <a href="{% url 'groupsite:create group' %}" type="button" class="btn btn-default">Create Group</a>
                <a href="{% url 'groupsite:create invite' %}" type="button" class="btn btn-default">Invite to Groups</a>
            {% else %}
                <a href="{% url 'groupsite:groups' %}" type="button" class="btn btn-default">Groups</a>
            {% endif %}

            {% if '/profiledetails' in request.get_full_path %}
                <a href="{% url 'groupsite:update profile' pk=user.pk %}" type="button" class="btn btn-default">Edit Profile</a>
            {% else %}
                <a href="{% url 'groupsite:profile details' pk=user.pk %}" type="button" class="btn btn-default">Profile</a>
            {% endif %}

            {% if '/updategroup' in request.get_full_path %}

            {% endif %}

            <a href="{% url 'logout' %}" type="button" class="btn btn-default">Sign out</a>


        {% else %}
            <a href="{% url 'groupsite:login' %}" type="button" class="btn btn-default">Sign in</a>
        {% endif %}

        </nav>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% block javascript %}
{% endblock %}
    </div>
   </body>
</html>
