{% extends "groupsite/base.html" %}

{% block content %}
    <div class="list-group text-center" id="groups-list">
    <h2>My Groups</h2>

    {% for group in groups %}

        <form method="GET" class="list-group text-center"
            {% if user == group.creator %}
                name="{{group.id}}"
                action="{% url 'groupsite:update group' pk=group.id %}">
            {% else %}
                action="{% url 'groupsite:group details' pk=group.id %}">
            {% endif %}
            {% csrf_token %}

        {% if user == group.creator %}
            <button type="button submit" class="list-group-item" name="update_{{group.id}}">
        {% else %}
            <button type="button submit" class="list-group-item" name="detail_{{group.id}}">
        {% endif %}
            {{ group.name }}
        {% if user == group.creator %}
            <strong>(creator)</strong>
        {% endif %}
        </button>
    </form>
    {% endfor %}
    </div>

    <div class="list-group text-center">
    <h2>Received Invites</h2>
    {% for invite in received_invites %}
    <div class="list-group-item">
    <form method="POST" action="{% url 'groupsite:update invite' pk=invite.user_group.id %}" >
        <p>Group: <span class="group-name">{{ invite.user_group.name }}</span></p>
        <p>Description: {{ invite.user_group.description }}</p>
        <p>Invited by: {{ invite.invitor.username }}</p>
    <div class="button-group" role="group">
        <button type="button" class="btn btn-secondary accept-button" name="accepted_{{invite.id}}">Accept</button>
        <button type="button" class="btn btn-secondary decline-button" name="declined_{{invite.id}}">Decline</button>
    </div>
    </div>
    {% endfor %}
    </div>

    <div class="list-group text-center">
    <h2>Pending Sent Invites</h2>
    {% for invite in sent_invites %}
    <div class="list-group-item">
        <p>Group: {{ invite.user_group.name }}</p>
        <p>Invited: {{ invite.invitee.username }}</p>
    </div>
    {% endfor %}
    </div>

{% endblock %}
{% block javascript %}
{% load static %}
<script type="text/javascript" src="{% static "groupsite/invites.js" %}" ></script>
{% endblock %}
