packages:
    yum:
        sendmail: []
container_commands:
    01_migrate:
        command: "django-admin.py migrate --no-input"
        leader_only: true
    02_collect_static:
            command: "django-admin.py collectstatic --no-input"
option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "config.settings"
    "aws:elasticbeanstalk:container:python":
        WSGIPath: "groupsite/config/wsgi.py"
    "aws:elasticbeanstalk:container:python:staticfiles":
        /static/: "static/"
